<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">

    <meta name="description" content="A homophone is a word that has the same pronunciation of another word, but may have different spelling and meaning. Here you can discover and learn more about specific examples of homophones in the French language.">
    <link href="https://www.frenchhomophones.tech/" rel="canonical" />

    <!-- CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/assets/style.css">
    <link rel="stylesheet" href="../static/assets/icons.css">

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">French Homophones</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-label="Toggle navigation bar options">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSite">
                    <a href="/random" class="btn btn-success btn-sm my-1 my-xs-0">
                        Random
                        <span class="icon-shuffle randomIcon"></span>
                    </a>
                    <a href="/browse" class="btn btn-info btn-sm mx-1 mx-xs-0 my-1 my-xs-0 ml-lg-2">
                        Browse by letter
                        <span class="icon-font-1 browseIcon"></span>
                    </a>

                    <div class="d-inline-flex bd-highlight justify-content-center text-nowrap ml-auto mr-2">
                        <form name="searchForm" class="form-inline my-0 my-lg-0 mt-2 my-lg-0 ml-auto" action="/find"
                            method="GET" onsubmit="return validateForm()">
                            <input class="form-control mr-sm-1 my-lg-0 my-sm-0 my-2" name="search" type="search"
                                placeholder="Word" aria-label="Search" required>
                                <button class="btn btn-outline-success mr-auto my-lg-0 mx-md-0" type="submit">Search
                                homophone</button>
                        </form>
                    </div>

                    <div class="dropdown" id="navbarNavDropdown">
                        <ul class="navbar-nav my-lg-0 mt-2 my-0 ml-lg-3">
                            <!-- About dropdown -->
                            <li class="nav-item dropdown ml-xs-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> About </a>
                                <div class="dropdown-menu dropdown-menu-right shadow rounded"
                                    aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/#what-are-homophones">What are homophones?</a>
                                    <a class="dropdown-item" href="/about">About the website</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>

    <div id="app">
        <div class="homophones">
            <div class="container body-content">
                <div class="container">
                    <div class="text my-auto">
                        <h3><b>{% block body_content_title %}{% endblock %}</b></h3>
                        <p>{% block body_content_text %}{% endblock %}</p>
                    </div>
                </div>

                <div id="main" class="card bg-dark text-light text-center mb-4">
                    <img id="main-bg-img" class="card-img img-fluid" src="../static/assets/Flag_of_La_Francophonie.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <div class="row align-items-center" style="height: 65%">
                            <div class="col-12">
                                <h1 class="card-title" id="card-title-home"><b>frenchhomophones.tech</b></h1>
                                <h2 class="card-text" id="card-text-home">A comprehensive list of homophones of the
                                    French language.</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 mt-4 my-2">
                        <div class="card shadow-sm text-dark">
                            <div id="card-title-index" class="card-header">
                                Examples of homophones
                            </div>
                            <div class="row mx-1 my-2">
                                {% for Homophone in homophonesLists %}
                                <div class="col-md-12 col-lg-3 my-2 mx-auto">
                                    <div id="card-random-homophone-{{loop.index}}" class="card shadow-sm text-center hvr-grow-shadow">
                                        <div class="card-header text-center">
                                            <audio id="player{{loop.index0}}" src="{{audios[loop.index]}}"></audio>
                                            <div>
                                                <a onclick="document.getElementById('player{{loop.index}}').play()"><img
                                                        src="../static/assets/materialicons_volume_up.svg" alt="Play"
                                                        class="play-button index"></a>
                                            </div>
                                        </div>
                                        <a id="link-random-homophone"
                                            alt="Link to the homophone group {{loop.index}}"
                                            href="/find?search={{Homophone.homophonesList[0]['word']}}">
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    {% for homophone in Homophone.homophonesList %}
                                                    <li class="list-group-item"><b>{{homophone.word}}</b></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                    </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer text-muted">
                                Click on a card to see definitions
                            </div>
                        </div>
                    </div>

                </div>


                <hr id="what-are-homophones">

                <div class="row">
                    <div class="col-sm-12 col-md-12 my-2 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title">What are homophones?<sup>1</sup></h4>
                                <h6>"Homophone" derives from the Greek <i>homo-</i>, "same", and <i>phōnḗ</i>,
                                    "voice", "utterance".<h6>
                                        <h6>A homophone is a word that is pronounced the same (to varying extent) as
                                            another word but differs in meaning. A homophone may also differ in
                                            spelling. Homophones that are spelled the same are also both homographs and
                                            homonyms. Homophones that are spelled differently are also called
                                            heterographs.</h6>
                                        <figure>
                                            <img class="card-img center"
                                                title="Homograph_homophone_venn_diagram.png: Will Heltsley
                                            derivative work: Cmglee [CC BY-SA (https://creativecommons.org/licenses/by-sa/3.0)]"
                                                src="../static/assets/Homograph_homophone_venn_diagram-min.png"
                                                alt="Homograph homophone venn diagram" style="height:100%">
                                            <figcaption class="card-img center"><a
                                                    href="https://commons.wikimedia.org/wiki/File:Homograph_homophone_venn_diagram.svg"
                                                    title="via Wikimedia Commons">Homograph_homophone_venn_diagram.png:
                                                    Will Heltsley derivative work: Cmglee</a> [<a
                                                    href="https://creativecommons.org/licenses/by-sa/3.0">CC
                                                    BY-SA</a>]
                                                    <i><p><sup>1</sup><a href="https://en.wikipedia.org/wiki/Homophone">Wikipedia</a>.</p></i>
                                            </figcaption>
                                        </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="py-3 bg-dark text-white-50">
        <div class="container body-content">
            <div class="container">
                <span class="text-muted">Built by <a target="_blank" rel="noopener" href="https://github.com/AtilioA">AtilioA <i
                            class="icon-github-circled"></i></a>.</span>
            </div>
        </div>
    </footer>

    <script src="../static/js/validateForm.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    </div>
</body>

</html>
