{% extends 'base_homophones.html' %}

{% block title %}
{% for word in homophones %}
{% if loop.last %}
{{ word.word }}
{% else %}
{{ word.word }},
{% endif %}
{% endfor %}
{% endblock %}

{% block homophones_h3 %}
    {% for word in homophones %}
        {% if loop.last %}
        {{ word.word }}
        {% else %}
        {{ word.word }},
        {% endif %}
    {% endfor %}
    <br />
    <audio src="{{audio}}" controls type="audio"></audio>
{% endblock %}

{% block homophones_h5 %}
    {% for word in homophones %}
        {% if loop.last %}
        and {{ word.word }}
        {% else %}
        {{ word.word }},
        {% endif %}
    {% endfor %}
{% endblock %}
