{% extends 'base_homophones.html' %}

{% block title %}
{% for word in homophones %}
{% if loop.last %}
{{ word.word }}
{% else %}
{{ word.word }},
{% endif %}
{% endfor %}
{% endblock %}

{% block homophones_h3 %}
    {% for word in homophones %}
        {% if loop.last %}
        {{ word.word }}
        {% else %}
        {{ word.word }},
        {% endif %}
    {% endfor %}
    <br />
    <audio id="player" src="{{audio}}" type="audio"></audio>
    <div>
        <a onclick="document.getElementById('player').play()"><i class='fa fa-volume-up fa-2x'></i></a>
    </div>
{% endblock %}

{% block homophones_h5 %}
    {% for word in homophones %}
        {% if loop.last %}
        and {{ word.word }}
        {% else %}
        {{ word.word }},
        {% endif %}
    {% endfor %}
{% endblock %}
