[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
python-dotenv = "*"
wiktionaryparser = "*"
pymongo = {extras = ["srv"],version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
