{% extends 'base.html' %}

{% block title_title %}
About
{% endblock %}


{% block title %}
About
{% endblock %}

{% block body %}
<div class="content">
    <p>This is a little Flask web application I built during 2019-2020 summer vacation.<p>
        
    <p>My inspiration was <a href="https://www.homophone.com/">this website</a>, which showed me interesting English homophones from time to time; I used it as my homepage (on random) until I created my own, for French.</p>
    
    <p>I simply crawled through <a href ="https://en.wiktionary.org/w/index.php?title=Category:French_terms_with_homophones">Wiktionary's category of French homophones</a> with <a href="https://pypi.org/project/beautifulsoup4/">BeautifulSoup</a> and parsed words URLs entries with <a href="https://pypi.org/project/wiktionaryparser/">WiktionaryParser</a>. This way, I had successfully extracted meaning from Wiktionary, I just had to create a database and a web application for it.</p>
    
    <p>[Paragraph about database]</p>
    
    <p>[Paragraph about web application]</p>
    <p>CSS template is <a href="https://github.com/jgthms/bulma/">jgthms</a>'s, everything else including favicon is my work. Feel free to contribute <a href="https://github.com/AtilioA/wiktionary-french-homophones">here</a>.</p>
</div>
{% endblock %}
