@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-color: #fdfdfd;

body {
    background: $bg-color;
    font-family: "Roboto";
    padding-top: 4.5rem;
}

.navbar {
    // 1C3337
    background-color: #1C3337;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-inner {
    text-align: center;
}

input.form-control {
    background-color: rgb(230, 230, 230);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f1f1f1;
}

.form-inline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-inline #search {
    width: 50%;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(250, 250, 250);
    // text-decoration: none;
    background-color: #2ab13c;
  }
